/* Page Formatting */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: white;
  margin-bottom: 0;
}

body {
  font-family: system-ui;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
}

.button-align {
  text-align: center;
}

.feature-box {
  text-align: center;
  display: inline;
  margin: 10px 0;
}


/* Glowy Button */
.glowy-style {
  position: relative;
  top: 10px;
  margin-bottom: 10px;
}
.glowy-style .glowy-button {
  font-size: 20px;
  background-color: #1b86f9;
  border: none;
  color: #fff;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: 500ms;
  box-shadow: 0 0 20px #1b86f9;
}

.glowy-style .glowy-button:hover {
  background-color: #fff;
  color: #1b86f9;
  box-shadow: 0 0 20px #fff;
}

.glowy-style .glowy-button:active {
  box-shadow: 0 0 50px #fff;
  transform: scale(0.8);
  transition: 200ms;
}

.glowy-style .glowy-button:focus {
  outline: none;
}



/* Gradient Button */
.gradient-style .flex-center {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.gradient-style .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.gradient-style .gradient-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #50d8d7;
  background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
  transition: 500ms;
  padding-bottom: 42.5px;
  padding-left: 3.5px;
}

.gradient-style .gradient-button::after {
  width: 143px;
  height: 43px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Gradient";
  font-size: 20px;
  color: #eee;
  border-radius: 25px;
  background-color: #222;
  transition: 500ms;
}

.gradient-style .gradient-button:hover::after {
  font-size: 25px;
  background-color: transparent;
}

.gradient-style .gradient-button:hover {
  transform: scale(0.9);
  background-color: #923993;
  background-image: linear-gradient(316deg, #923993 0%, #50d8d7 70%);
  transition: 500ms;
}

.gradient-style .gradient-button:focus {
  outline: none;
  box-shadow: none;
}

.gradient-style .gradient-button:active {
  transform: scale(0.7);
  transition: 200ms;
}



/* Glowy Gradient Button */
.glowy-gradient-style .flex-center {
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

.glowy-gradient-style .noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.glowy-gradient-style .glowy-gradient-button {
  width: 150px;
  height: 50px;
  cursor: pointer;
  border: none;
  border-radius: 25px;
  background-color: #50d8d7;
  background-image: linear-gradient(316deg, #50d8d7 0%, #923993 74%);
  transition: 500ms;
  box-shadow: 0 0 20px #1b86f9;
  padding-bottom: 42.5px;
  padding-left: 3.5px;
}

.glowy-gradient-style .glowy-gradient-button::after {
  width: 143px;
  height: 43px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "Glowy-Grad";
  font-size: 20px;
  color: #eee;
  border-radius: 25px;
  background-color: #222;
  transition: 500ms;
}

.glowy-gradient-style .glowy-gradient-button:hover::after {
  font-size: 25px;
  background-color: transparent;
}

.glowy-gradient-style .glowy-gradient-button:hover {
  transform: scale(0.9);
  box-shadow: 0 0 20px #1b86f9;
  background-color: #923993;
  background-image: linear-gradient(316deg, #923993 0%, #50d8d7 70%);
  transition: 500ms;
}

.glowy-gradient-style .glowy-gradient-button:focus {
  outline: none;
}

.glowy-gradient-style .glowy-gradient-button:active {
  transform: scale(0.7);
  box-shadow: 0 0 70px #1b86f9;
  transition: 200ms;
}
